/* general style */
body{
  background-image:url(img/natural-pattern.png);
}

.contenitore{
  padding: 30px;
  /* margin-left: 200px;
  margin-right: 200px; */
  width: 1000px;
  margin: auto;
}


/* header style*/
header .header{
  height: 300px;
  background-image: url(img/natural-header.jpg);
  background-size: cover;
  border: solid white 4px;
}

header img{
  width: 500px;
  /* come centrare il logo? con margin auto non funziona! */
  /* margin-left: auto; */
  margin-left: 250px;
}

header h1{
  color: white;
  text-align: center;
  margin-top: 00px;
}

.menu_nav{
  background-color: gray;
  color: white;
}

.menu_nav ul{
  line-height: 40px;
  margin-top: 0;
  text-align: center;
  text-decoration: none;
}

.menu_nav ul li{
  display: inline-block;
  padding: 13px;
  /* background-color: orange; */
}

.menu_nav ul li a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.menu_nav ul li a:hover{
  background-color: orange;
}
/* .menu ul li a:hover{
  background-color: orange;
  color: green;
} */

/* main style */
main::after{
  content: "";
  display: table;
  clear: both;
}

main{
  padding: 0px;
  line-height: 2;
}

main h3{
  text-align: center;
}

main .aside{
  background-color: white;
  width: 25%;
  float: left;
  border-radius: 10px;
  padding: 10px;
}

main aside::after{
  content: "";
  display: table;
  clear: both;
}

main .aside_sx .colonna_sx{
  float: left;
  margin-left: 10px;
  margin-top: 8px;
}
menu .aside_sx .colonna_dx{
  float: left;
}

main .aside_sx .colonna_sx i{
  /* ridimensiona grandezza icona */
  font-size: 40px;
  color: orange;
}

.aside_sx ul li{
  list-style: none;
}

.aside_sx ul{
  padding-left: 10px;
  text-align: left;

}

.aside_sx ul li a{
  text-decoration: none;
  color: green;
}

main .main_principale{
  background-color: white;
  width: 40%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  padding: 10px;
}

main .aside_dx_inBasso{
  margin-top: 10px;
}

/* footer */
footer{
  background-color: white;
  text-align: center;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

footer nav ul li {
  float: left;
  width: 33%;

}

footer nav ul{
  list-style: none;
}

footer nav ul li i{
  font-size: 40px;
  padding: 10px;
  color: grey;
}

footer p{
  padding-top: 20px;
}
