/* general style */
body{
  background-image:url(img/natural-pattern.png);
}

.contenitore{
  padding: 30px;
  /* margin-left: 200px;
  margin-right: 200px; */
  width: 1000px;
  margin: auto;
}


/* header style*/
header .header{
  height: 300px;
  background-image: url(img/natural-header.jpg);
  background-size: cover;
  border: solid white 4px;
}

header img{
  width: 500px;
  /* come centrare il logo? con margin auto non funziona! */
  /* margin-left: auto; */
  margin-left: 250px;
}

header h1{
  color: white;
  text-align: center;
  margin-top: 00px;
}

.menu_nav{
  background-color: gray;
  color: white;
}

.menu_nav ul{
  line-height: 40px;
  margin-top: 0;
  text-align: center;
}

.menu_nav ul li{
  display: inline-block;
  padding: 13px;
}


/* main style */
main::after{
  content: "";
  display: table;
  clear: both;
}

main{
  text-align: center;
  padding: 10px;
  line-height: 2;
}

main .aside{
  background-color: orange;
  width: 25%;
  float: left;

  /* text-align: center;
  padding: 5px; */
}

main .main_principale{
  background-color: violet;
  width: 40%;
  float: left;
  margin-left: 4%;
  margin-right: 4%;
}

main .aside_dx_inBasso{
  margin-top: 10px;
}

.aside_sx ul li{
  list-style: none;

}

.aside_sx ul{
  padding-left: 10px;
  text-align: left;
  color: green;

}

.aside_sx ul li a{
  text-decoration: none;
}
